	#wrap {
		display: none;
		opacity: 0.8;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
		background-color: rgba(1, 1, 1, 0.725);
		z-index: 100;
		overflow: auto;
	}
	#window{
		width: 500px;
		height: 500px;
		margin: 180px auto;
		display: none;
		background: #fff;
		z-index: 200;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 16px;
	}
	.close {
		line-height: 5!important;
		float: none!important;
		margin-left: 44%;
		margin-right: auto;
	}

	input, textarea {
		margin-top: 10px;
		padding: 10px;
		border: 1px solid #E5E5E5;
		width: 212px;
		color: #999999;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
		-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
		-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;   
  	}

  	textarea {
    	width: 400px;
    	height: 150px;
    	max-width: 400px;
    	line-height: 18px;
  	}

  	input:hover, textarea:hover,
  	input:focus, textarea:focus {
    	border-color: 1px solid #C9C9C9;
    	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px; 
  	}

  	
	

  	.modal-header {
  		padding: 15px 0 0 0!important;
  		border-bottom: 0!important;
  	}

  	.modal-body {
  		padding:0 15px 0 15px!important;
  	}

  	.modal-footer {
  		border-top: 0!important;
  	}

  	.modal-footer .btn+.btn {
  		margin-top: 10px;
  	}

  	.form label {
  		margin-left: 10px;
  		color: #999999;
  	}
  	.submit input {
  		width: 100px; 
  		height: 40px;
  		background-color: #474E69; 
  		color: #FFF;
 		border-radius: 3px;
  		-moz-border-radius: 3px;
  		-webkit-border-radius: 3px;   
 	 }
 	 .pull-right {
  		float: none!important;
 	}